*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

p { color: #333;}
.redbandeau {
    width:100%;
    background-color:#ef002e;
    min-height: 100px;
}

.container {
    width: 990px;
    margin: 0 auto;
}

img {
    width:100%;
}

/*RedBandeau*/
.header-firstsection {
    display:grid;
    padding: 1.2rem 0 1rem 0rem;
    grid-template-columns: 667px  1fr 1fr 1fr;
    grid-template-areas:
    'header-logo login-logout user-register mysearch';
}

.header-logo{
    grid-area:header-logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo h1 {
    color:#fff;
}

.header-logo p {
    color:#fff;
}


.login-logout{
    grid-area: login-logout;
    display:flex;
    align-items: center;
    margin-right: 1rem;
    
}

.login-logout ul {
   list-style-type: none;
}

.login-logout a {
    text-decoration: none;
    Color:#fff;
}


.user-register {
    grid-area: user-register;
    display:flex;
    align-items: center;
    margin-right: 1rem
   
}

.user-register ul {
    list-style-type: none;
 }
 
 .user-register a {
     text-decoration: none;
     Color:#fff;
 }



.mysearch {
    grid-area: mysearch;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myform {
    position: relative;
    width:200px;
}


.search_input {
   width: 100%;
   height: 39px;
   border: 0px solid #fff;
   padding-left: 0.5rem;
   font-size: 1rem;
  
    
}

.search-button {
  position: absolute;
  top: 11px;
  right: 5px;
  background: transparent;
  border: none;
}

.fa-search{
 font-size:1.2rem;
 color:red;


}
/* EndRedBandeau*/


/*Menu Navigation*/
.header-wrapper {
    border-bottom:1px solid #ccc;
    
}

.header-nav ul{
    display: flex;
    grid-gap: 20px;
    list-style: none;
    justify-content: space-between;
   
}
    

.header-nav a {
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color:#333;
}


/*Breaking News*/

.breaking-news {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 680px 1fr;
    grid-template-areas: 
    'breakingnew-content summertrip' ;
    margin-top: 40px;
}

.breakingnew-content {
    grid-area: breakingnew-content ;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: space-between;
    
}

.breakingnews {
    display: flex;
    align-items: center;
}

.breakingnews p, .international p{
 margin-left: 10px;
 color: #333;
}

.button-news {
    padding: 1rem 0;
    width:200px;
    background-color:#ef002e;
    text-decoration: none;
    color: #ccc;
    text-align: center;
}



.international {
    display: flex;
    align-items: center;
}

.button-inter {
    padding: 1rem 0;
    width:200px;
    background-color:#142535;
    text-decoration: none;
    color: #ccc;
    text-align: center;
}



.summertrip {
    grid-area: summertrip;
    background: url(../img/blog/feature-img1.jpg);
    background-position: center;
    display: flex;
    align-items: center;
   justify-content: space-around;

}

.summertrip h3 {
    color: #fff;
    font-size: 1.5rem;
    
}

.button-summertrip{
    padding: 0.5rem 0;
    width:80px;
    background-color:#142535;
    text-decoration: none;
    color: #ccc;
    text-align: center;
}


/*Main*/
.main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 680px 1fr;
    grid-template-areas:
    'main-content side-content ';
    margin-top: 50px;
   

}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-gap:20px;
    grid-template-columns: 348px 1fr;
    grid-template-areas:
    'finance-col-1 finance-col-2';
}

.finance-col-1 {
    grid-area: finance-col-1;
}

.finance-col-2 {
    grid-area: finance-col-2;
}

.article-one {
    margin-bottom: 1rem;
}


.finance-col-1 h3 {
    color: #ef002e;
    text-transform:  uppercase;
    font-size: 16px;
    margin: 0.5rem 0 0.5rem;
}

.finance-col-1 h1 {
  color:#0c1d31;
  margin-bottom: 1rem;
}

.finance-col-1 p {
    color:#333;
}

.finance-col-1 .autor-block {
    color:#ef002e;
    font-weight: 600;
    margin-top: 0.5rem;
}

.finance-col-1 span {
    color:#0c1d31;
}

.article-body h3 {
    color: #ef002e;
    text-transform:  uppercase;
    font-size: 16px;
    margin: 0.5rem 0 0.5rem;
}
.article-body p {
    color: #333;
}

.social-icon{
    display: flex;
    margin-top: 1rem;
}

.social-icon .fa-thumbs-up{
  margin-right: 0.5rem;
}

.social-icon .fa-comment-dots {
    margin-right: 0.5rem;
}

.social-icon p {
    margin-right: 1rem
}


/*Side Content*/
.side-content {
    grid-area: side-content;
    display: flex;
    flex-direction: column;
}

.topics {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #a39da1;
    padding-bottom: 1rem;
}

.body-topic h4 {
    padding-left:1rem;
    color:#ef002e;
    text-transform: uppercase;
    margin-bottom:0.5rem;
  }

.body-topic p {
  color:#142535;
  padding-left:1rem;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:1rem;
}

.body-topic .side-date {
    font-weight:600;
    font-size: 14px;
    margin-bottom:0rem;
    color:#a39da1;
}
/*side-container*/


/*Popular news*/

.popular-news-area {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 680px 1fr;
    grid-template-areas:
    'popular-new-col-1 popular-new-col-2 ';
    margin-top: 50px; 
}

.popular-new-col-1{
    grid-area: popular-new-col-1
}

/*popular-new-col-1*/
.section-heading {
    text-align: center;
    padding:0.8rem 0;
    position: relative;
    margin-bottom: 4rem;
   
}

.section-heading::after {
    content: "";
    width: 100%;
    left:0;
    top:59px;
    position: absolute;
    border-bottom:1px solid #d0d5d8;
    z-index: -1;
}


.section-heading h6 {
   color: #fff;
   font-size: 1.2rem;
   width:160px;
   padding:0.8rem 0;
   background-color: #ee002d;
}



/**/
.popular-new-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'popular-article-col-1 popular-article-col-2';
}

.popular-article-col-1 {
    grid-area: popular-article-col-1;
}

.popular-box-articles{
    margin-bottom: 1rem;
}

.popular-article-col-1 h3 {
    color: #ef002e;
    text-transform:  uppercase;
    font-size: 16px;
    margin: 0.5rem 0 0.5rem;
}


.popular-article-col-2 {
    grid-area: popular-article-col-2;
}

.popular-article-col-2 h3 {
    color: #ef002e;
    text-transform:  uppercase;
    font-size: 16px;
    margin: 0.5rem 0 0.5rem;
}



/*Side bar */
.popular-new-col-2{
    grid-area: popular-new-col-2
}
.Most-popular-News {
    background-color: #eff4f9;
    padding:3rem 1rem;
}


.Most-popular-News h3 {
    color:#ef002e;
    font-size: 30px;
    text-align: left;
}
.single-popular-post {
    margin: 1rem 0;
}

.single-popular-post a {
    text-decoration: none;
    text-align: left;
    color:#152335;
    font-size: 20px;
}

.single-popular-post h5 span {
    margin-right: 15px;
    color: #ee002d;}

.single-popular-post p {
    text-align: left;
    margin-top: 10px;
}


/*Newsletter*/
.newsletter {
    background-color:#02031c; 
    padding: 60px 25px;
}

.newsletter h4 {
    color:#ee002d;
    text-align: center;
    font-size: 30px;
}

.newsletter p {
    text-align: center;
    margin: 1rem 1rem;
    color:#828282;
}

.newsletter form input {
    width: 100%;
    height: 50px;
    padding: 0px 25px;
    margin-bottom: 25px; 
    background-color: #44425a;
    color:#fff;
    border: 0;
}

.newsletter form button {
   color:#fff;
   font-size:16px;
}

.newsletter form button:hover {
    background-color: #ccc;
    color:#ee002d;
 }
 


.newsletterbtn {
 background-color: #ee002d;
 border:0;
 width: 100%;
 padding: 1rem;
}

/*Video Area*/
.Video-Area {
    margin-top: 2rem;
    background-image: url('../img/bg-img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -547px;
    position: relative;
    z-index: 1;
}


.Video-Area::after {
    background-color: rgba(2, 3, 28, 0.9);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.video-wrapper {
    display: grid;
    padding: 4rem 0rem;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    'video-one video-two video-three';
}

.video-one {
    grid-area: video-one;
    position:relative;
}
.video-btn {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.video-btn a {
    font-size: 5rem;
    color:#ee002d;
}

.video-two {
    grid-area: video-two;
    position:relative;
}

.video-three {
    grid-area: video-three;
    position:relative;
}



/*FOOTER*/


footer {
    background-color: #02031c;
    margin-top: 4rem;
}

.footer-wrapper {
    display: grid;
    grid-gap: 20px;
    padding-top: 2rem;
    grid-template-columns: 350px 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'contact-info Politics-tags footer-featured faq foot-more ';
}

.contact-info {
    grid-area: contact-info;
}

.contact-info h1 {
    color: #fff;
    font-size: 2rem;
}

.contact-info p {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 1rem;
}

.Politics-tags {
    grid-area: Politics-tags;
    color: rgba(255, 255, 255, 0.5);
}

.Politics-tags h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.Politics-tags ul  {
    list-style-type: none;
}

.Politics-tags a {
    text-decoration: none;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}


.footer-featured {
    grid-area: footer-featured;
    color: rgba(255, 255, 255, 0.5);
}


.footer-featured h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.footer-featured ul  {
    list-style-type: none;
}

.footer-featured a {
    text-decoration: none;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}


.faq {
    grid-area: faq;
    color: rgba(255, 255, 255, 0.5);
}

.faq h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.faq ul  {
    list-style-type: none;
}

.faq a {
    text-decoration: none;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}


.foot-more {
    grid-area:foot-more;
    color: rgba(255, 255, 255, 0.5);
}

.foot-more h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.foot-more ul  {
    list-style-type: none;
}

.foot-more a {
    text-decoration: none;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem 0rem 1rem;
}

/*Responsive*/

@media(max-width:360px){

    .container {
        width:100%;
        padding:10px;
    }
    
    .header-firstsection {
        grid-template-columns: 1fr;
        grid-template-areas:
        'header-logo'
        'login-logout'
        'user-register'
        'mysearch';
    }

    .header-wrapper {
        border-bottom:0px solid #ccc;  
    }

    .header-logo{
        align-items: center;
        margin-bottom: 20px;
    }

    .login-logout{
        flex-direction: column;
      
    }
    .user-register {
        flex-direction: column;
       margin-bottom: 20px;
      
    }

    .login-register ul {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    /*nav*/
    .header-nav ul{
        flex-direction: column;
        display:none;
    }

    /*Breaking news*/

    .breaking-news {
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'breakingnew-content' 
        'summertrip';
        margin-top: 0px;
    }

    /*Main*/
    .main {
        grid-gap: 20px;
        grid-template-columns:1fr;
        grid-template-areas:
        'main-content' 
        'side-content ';
    }


    .main-content {
        grid-gap:20px;
        grid-template-columns:1fr;
        grid-template-areas:
        'finance-col-1' 
        'finance-col-2';
    }

    .popular-news-area {
        grid-template-columns:1fr;
        grid-template-areas:
        'popular-new-col-1'
        'popular-new-col-2';
       
    }
    

    .popular-new-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'popular-article-col-1' 
        'popular-article-col-2';
    }

    .footer-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'contact-info' 
        'Politics-tags'
        'footer-featured'
        'faq' 
       'foot-more';
    }

    
}

@media(max-width:700px){

    .container {
        width:100%;
        padding:1rem;
    }
    
    .header-firstsection {
        grid-template-columns: 1fr;
        grid-template-areas:
        'header-logo'
        'login-logout' 
        'user-register'
        'mysearch';
    }

    .header-wrapper {
        border-bottom:0px solid #ccc;
    }

    .header-logo{
        align-items: center;
    }

    .login-logout{
       flex-direction: column;
       margin: 20px 0px 20px;
    }

    .user-register {
        flex-direction: column;
       margin: 0px 0px 20px 0px;
    }

   

    .mysearch {
        grid-area: mysearch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*nav*/
    .header-nav ul{
        flex-direction: column;
        display:none;
    }

    /*Breaking news*/

    .breaking-news {
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'breakingnew-content' 
        'summertrip';
        margin-top: 0px;
    }

    /*Main*/
    .main {
        grid-gap: 20px;
        grid-template-columns:1fr;
        grid-template-areas:
        'main-content' 
        'side-content ';
    }

    .main-content {
        grid-gap:20px;
        grid-template-columns:1fr;
        grid-template-areas:
        'finance-col-1' 
        'finance-col-2';
    }

    .popular-news-area {
        grid-template-columns:1fr;
        grid-template-areas:
        'popular-new-col-1'
        'popular-new-col-2';
       
    }
    

    .popular-new-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'popular-article-col-1' 
        'popular-article-col-2';
    }

    .Video-Area {
        background-position: 0px 0px;
        height: 100%;
    }
    .video-wrapper {
        grid-template-columns:1fr;
        grid-template-areas:
        'video-one'
        'video-two' 
        'video-three';
    }

    .footer-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'contact-info' 
        'Politics-tags'
        'footer-featured'
        'faq' 
       'foot-more';
    }

}


